body {
    margin: 0;
    padding: 0;
    background-color: #ff414e; 
    font-family: "Rubik";
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}
.container {
    width: 80%;
    height: 80%;
    background-color: #ffffff;
    border-radius: 20px;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

h1, h2, h3 {
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 36px;
    color: #ff414e;
}

h2 {
    font-size: 24px;
    color: #ff414e;
}

p {
    font-size: 22px;
    color: black;
}
#definitionHeader, #synonymHeader, #antonymHeader {
    width: 100%;
    text-align: left;
    padding: 10px;
}

.search-bar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

#searchInput {
    width: 90%;
    padding: 10px;
    font-size: 16px;
    border: 2px solid #000000;
    border-radius: 5px;
}

#searchButton {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #ff414e;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#searchButton:hover {
    background-color: #357ABD;
}
